body {
  background-color: #0e2112;
  color: white;
  font-family: Georgia, serif;
  text-align: center;
  padding: 40px;
}

#story {
  max-width: 700px;
  margin: 30px auto;
  font-size: 18px;
}

button {
  margin: 10px;
  padding: 12px 20px;
  font-size: 16px;
  background-color: #070534;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #676666;
}

#scene-image {
  width: 100px;
  border-radius: 10px;
}


